small {
    position: relative;
    font-size: 12px;
    top: -25px;
  }
  
  a {
    text-decoration: none;
  }
  
  strong {
    color: #202124;
    font-size: 48px;
    font-weight: 400;
  }

  .temperature {
    position: relative;
    font-weight: 400px;
    font-size: 48px;
  }